
.about p {
	/*position: absolute; */
	background:url(../images/about_us_button.gif) 0 0 no-repeat;
	width:106px;
	height:50px;
	text-indent:-9999px;
}

.about ul {
	width: 106px;
	background:#374e1a;
	border: 0;
	padding:0;
	list-style:none;
	
}
 
.about ul a:link, .about ul a:visited {
	display:block;
	width:98px;
	padding: 2px 2px;
	margin: 2px;
	text-decoration:none;
	color:#ffffff;
	font-weight:normal;
}
 
.about ul li a:hover, .about ul a:active {background:#70b538;}

.about p, .about ul {margin:0;}

.about{
	width: 130px;
	height: 50px;
	overflow: hidden;
}

.about:hover {
	overflow: visible;
}

.about{
	position: relative;
}

.about ul {
	position: absolute;
	left: 0;
}
